In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

import time
from datetime import datetime

pd.set_option("display.max_rows", None, "display.max_columns", None) #Çıktı satırlarının tümünün gösterilmesini sağlar

In [2]:
def df_list (index):
    df_list = []
    for x in index:
        df_keep = df[df.index == x ]
        df_list.extend(df_keep)
    return df_list

In [3]:
#User ID listesini İndex listesine dönüştürmek için forksiyon
def index_list (user_id):
    index_list = []
    for user in user_id:
        index_keep = df.index[df.user == user ]
        index_list.extend(index_keep)
    return index_list

In [4]:
df = pd.read_json (r'..\SteamData\SteamGameTime_clear.json')
user_statistics = pd.read_json (r'..\SteamData\User_statistics.json')

In [5]:
df.head()

    appid  playtime_forever               user  playtime_2weeks
0     620                76  76561198258109920              NaN
1  261550              2885  76561198258109920              NaN
2  255710              1061  76561198258109920              NaN
3  381210               498  76561198258109920              NaN
4  289070               211  76561198258109920              NaN

In [6]:
user_statistics.head()

,zero_len,played_len,played_medyan,played_mean,played_max,played_min,user_id
0,1,6,354.5,814.833333,2885,76,76561198258109920
1,101,54,252.5,23341.259259,1245316,53,76561198165251664
2,31,2,2.0,2.000000,3,1,76561198390197920
3,80,128,211.5,2379.093750,69051,1,76561198434021952
4,9,50,275.5,5779.180000,143224,1,76561198317320752

In [7]:
user_statistics.zero_len.sum()

744538

In [8]:
user_statistics.played_len.sum()

1020880

In [8]:
user_statistics["play_len"] = user_statistics["played_len"] + user_statistics["zero_len"]
#user_statistics.oyun_len = user_statistics.oynanan_len + user_statistics.sıfır_len

In [9]:
user_statistics.head()

,zero_len,played_len,played_medyan,played_mean,played_max,played_min,user_id,play_len
0,1,6,354.5,814.833333,2885,76,76561198258109920,7
1,101,54,252.5,23341.259259,1245316,53,76561198165251664,155
2,31,2,2.0,2.000000,3,1,76561198390197920,33
3,80,128,211.5,2379.093750,69051,1,76561198434021952,208
4,9,50,275.5,5779.180000,143224,1,76561198317320752,59

In [12]:
len(user_statistics[user_statistics.play_len < 11])

1116

In [ ]:
df_ör =  user_statistics[user_statistics.oyun_len == 20]

In [ ]:
df_ör =  df_ör[df_ör.oynanan_len > 9]

In [ ]:
len(df_ör[(df_ör.oynanan_len >= 15) & (df_ör.oyun_len == 20)])

In [ ]:
df_ör_id = df_ör.user_id

In [ ]:
len(df_ör_id)

In [ ]:
df_ör_index = index_list(df_ör_id)

In [ ]:
df_ör = df.copy(index_list=df_ör_index)

In [ ]:
len(df_ör)

In [ ]:
df_ör = df_list(df_ör_index)

In [ ]:
df_ör_index

In [ ]:
df_ör

In [ ]:
df_list = []

In [ ]:
df_keep = df[df.index == 8001 ]
df_list.append(df_keep)
df_list

In [ ]:
df_list

In [ ]:
help(df.extend)

In [ ]:
df_A = df.append(,8001)

In [ ]:
df_ör["appid"].value_counts().head(20)

In [ ]:
user_idd = user_statistics.user_id

In [ ]:
.to_json(r'..\SteamData\User_id.json', index = bool )